*
{
    margin: 0;
    padding: 0;
}
body{
    
    background-color: #e999b4;
}
/* Landing Page Starts */
.slideshow{
    margin-top: 3vw;
    margin-left:4%;
}
.slideshow img{
    width: 96%;
    height: 60vh;
}
.previous,
.nex {
  cursor: pointer;
  position: absolute;
  top: 46%;
  width: auto;
  padding: 16px;
  color: #000;
  font-weight: bold;
  font-size: 18px;
  transition: 0.6s ease;
  border-radius: 0 3px 3px 0;
  user-select: none;
}
/* Position the "next button" to the right */
.nex {
  right: 52%;
  border-radius: 3px 0 0 3px;
}
/* On hover, add a black background color with a little bit see-through */
.previous:hover,
.nex:hover {
  background-color: rgba(0, 0, 0, 0.8);
  color: #fff;
}
.container{
    display: flex;
    justify-content: left;
    flex-wrap: wrap;
}
.content{
    width: 50%;
    justify-content: column;
}
.content h2{
    text-align: center;
    font-size: 30px;
    font-weight: 400;
}
#login-form
{
    display: none;
}
.form-box
{
    width:380px;
	height:480px;
	position:relative;
	margin:2% auto;
	background:rgba(0,0,0,0.3);
	padding:10px;
    overflow-x: hidden;
    overflow-y: auto;
}
::-webkit-scrollbar{
    width: 0;
}
.button-box
{
	width:220px;
	margin:35px auto;
	position:relative;
	box-shadow: 0 0 20px 9px #ff61241f;
	border-radius: 30px;
}
.toggle-btn
{
	padding:10px 30px;
	cursor:pointer;
	background:transparent;
	border:0;
	outline: none;
	position: relative;
}
#btn
{
	top: 0;
	left:0;
	position: absolute;
	width: 110px;
	height: 100%;
	background: #F3C693;
	border-radius: 30px;
	transition: .5s;
}
.input-group-login
{
	top: 150px;
	position:absolute;
	width:280px;
	transition:.5s;
}
.input-group-register
{
    top: 120px;
	position:absolute;
	width:280px;
	transition:.5s;
}
.input-field
{
	width: 100%;
	padding:10px 0;
	margin:5px 0;
	border-left:0;
	border-top:0;
	border-right:0;
	border-bottom: 1px solid #999;
	outline:none;
	background: transparent;
}
.submit-btn
{
	width: 85%;
	padding: 10px 30px;
	cursor: pointer;
	display: block;
	margin: auto;
	background: #F3C693;
	border: 0;
	outline: none;
	border-radius: 30px;
}
.check-box
{
	margin: 30px 10px 34px 0;
}
span
{
	color: #000;
	font-size:12px;
	bottom:68px;
	position:absolute;
}
#login
{
	left:50px;
}
#login input
{
	color:white;
	font-size:15;
}
#register
{
	left:450px;
}
#register input
{
	color:white;
	font-size: 15;
}
/* Landing Ends */
/* Home Page Starts */
.flex-container1
{
    display: flex;
	justify-content: space-between;
}
.flex-item1
{
    width: 7vw;
    margin-top: 1vw;
    margin-left:4vw;
    border-radius: 100%;
}
.flex-item2
{
	justify-content: right;
    margin-top: 2vw;
	margin-right: 3.5vw;
	font-size: 1.2vw;
    font-weight: 600;
    color: #000;
}
.flex-item2 a
{
    padding:  0.3vw;
    text-decoration: none;
    color: #000;
}
.flex-item2 a:hover
{
  border-bottom: 3px solid #3673bc;
  color: aquamarine;
} 
.flex-item2 a.active
{
  border-bottom: 3px solid #3673bc;
}
  
.dropdown {
    position: relative;
    display: inline-block;
}
  
.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
}
  
.dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}
  
.dropdown-content a:hover {background-color: #f1f1f1}
  
.dropdown:hover .dropdown-content {
    display: block;
}
  
.dropdown:hover .dropbtn {
    background-color: #3e8e41;
}


  
.slideshow-container{
    margin-top:1vw;
    margin-left:4%;
}
.slideshow-container img{
    width: 96%;
    height: 60vh;
}
.prev,
.next {
  cursor: pointer;
  position: absolute;
  top: 50%;
  width: auto;
  padding: 16px;
  margin-top: -22px;
  color: #000;
  font-weight: bold;
  font-size: 18px;
  transition: 0.6s ease;
  border-radius: 0 3px 3px 0;
  user-select: none;
}
/* Position the "next button" to the right */
.next {
  right: 4%;
  border-radius: 3px 0 0 3px;
}
/* On hover, add a black background color with a little bit see-through */
.prev:hover,
.next:hover {
  background-color: rgba(0, 0, 0, 0.8);
  color: #fff;
}
.footer
{
    position: absolute;
    display: flex;
    justify-content: left;
    width: 100%;
    height: 10vw;
    color: #fff;
    background-color: #000;
    margin-top: 20px;
}
.footer-column
{
    width: 50%;
    text-align: left;
    padding: 0 15px;
    margin-top: 20px;
    margin-left: 2vw;
}
.footer-column h4
{
    margin-left: 6vw;
    font-size: 1.4vw;
}
.footer-column .links a , .links p
{
    display: flex;
    text-decoration: none;
    margin-top: 5px;
    margin-left: 6vw;
    color: #aaa;
    font-size: 1vw;
}
.social-links
{
    margin-top: 1vw;
    margin-left: 5.8vw;
}
.social-links a
{
	display: inline-block;
	height: 40px;
	width: 40px;
    text-align: center;
    background-color:rgba(255,255,255,0.2);
	border-radius:50%;
    line-height: 40px;
	color:#fff;
	transition:all 0.5s ease;
}
.social-links a:hover
{
    color:#24262b;
    background-color:#ffffff;	
}
/* Home Page Ends */
/* About Us Page Starts */
.about
{
    margin-top: 2px;
    text-align: center;
    font-size: 40px;
}
.row
{
    margin-top: 22px;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}
.column
{    
    width: 28%;
    height: 80vh;
    margin: 14px;
    background-color: navajowhite;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);

}
.column img
{
    width: 80%;
    margin-left: 10%;
    height: 20vw;
}  
.column h2
{
    font-size: 30px;
    margin-left: 2.4vw;
}
.column h4
{
    font-size: 25px;
    margin-left: 2.4vw;
} 
.column p
{
    font-size: 20px;
    margin-left: 2.4vw;
}
.about_social-links
{
    margin-left: 2.4vw;
    padding-top: 1vw;
}
.about_social-links a{
	display: inline-block;
	height:40px;
	width:40px;
    text-align: center;
    background-color:rgba(255,255,255,0.2);
	border-radius:50%;
    line-height: 40px;
	color:#000;
	transition:all 0.5s ease;
}
.about_social-links a:hover
{
    color:#24262b;
    background-color:#ffffff;	
}
/* About Us Ends */
/* Booking Form STarts */
.booking_container{
    max-width: 900px;
    width: 100%;
    background-color:#fff ;
    padding: 40px 45px;
    border-radius: 10px;
}
.booking_container .title{
    font-size: 40px;
    font-weight:1000;
    text-align: center;
    position: relative;
    text-decoration: underline;
}
.sel-opt select{
    height: 45px;
    width:387px;
    margin-bottom: 25px;
    outline: none;
    border-radius: 5px;
    border:1px solid #ccc;
    padding-left: 15px;
    font-size: 16px;
    border-bottom-width:3px;
    transition: all 0.3s ease;
}
.sel-opt .details{
    font-weight: 1000;
    margin-bottom: 10px;
}
 .container form .user-details{
    text-align:left;
    display: flex;
    flex-wrap: wrap;
    justify-content:space-between;
    margin: 50px 0 12px 0;
}
form .user-details .input-box {
    width:calc(100% / 2 - 10px);
   margin-bottom: 25px;
}
.user-details .input-box .details {
    font-weight: 1000;
    margin-bottom: 10px;
}
.user-details .input-box input{
    height: 45px;
    width: 100%;
    outline: none;
    border-radius: 5px;
    border:1px solid #ccc;
    padding-left: 15px;
    font-size: 16px;
    border-bottom-width:3px;
    transition: all 0.3s ease;
}
.user-details .input-box input:focus,
.user-details .input-box input:valid{
    border-color:#9b59b6;
}
form .button{
    height:45px;
    margin: 45px 0;
}
form .button input{
    height: 100%;
    width: 100%;
    outline: none;
    color:#fff;
    border:none;
    font-size: 20px;
    font-weight: 500;
    letter-spacing: 1px;
    background-color: #9b59b6;
    border-radius:10px;
}
form .button input:hover{
    background-color:darkmagenta;
}
/* Booking Form Ends */
/* Contact Form Starts */
.contact
{
    position: relative;
    min-height: 100vh;
    padding: 50px 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-size: cover;
}
.contact .content
{
    max-width: 800px;
    text-align: center;
}
.contact .content h2
{
    font-size: 48px;
    font-weight: 500;
    color: #fff;
}
.contact .content p
{
    margin-top: 30px;
    font-weight: 300;
    color: #fff;
}
.contact_container
{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 30px;
}
.contact_container .contactinfo
{
    width: 50%;
    display: flex;
    flex-direction: column;
}
.contact_container .contactinfo .box
{
    position: relative;
    padding: 20px 0;
    display: flex;
}
.contact_container .contactinfo .box .icon
{
    min-width: 60px;
    height: 60px;
    background: #fff;
    color: #000;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    font-size: 34px;
}
.contact_container .contactinfo .box .text
{
    display: flex;
    margin-left: 20px;
    font-size: 16px;
    color: #fff;
    flex-direction: column;
    font-weight: 300;
}
.contact_container .contactinfo .box .text h3
{
    margin-top: 4px;
    font-weight: 600;
    color: #00bcd4;
}
.contactForm
{
    width: 40%;
    padding: 40px;
    background: #fff;
}
.contactForm h2
{
    font-size: 30px;
    color: #333;
    font-weight: 500;
}
.contactForm .inputbox
{
    position: relative;
    width: 100%;
    margin-top: 10px;
}
.contactForm .inputbox input
{
    width: 100%;
    padding: 5px 0;
    font-size: 16px;
    margin: 10px 0;
    border:  none;
    border-bottom: 2px solid #333;
    outline: none;
    resize: none;
}
.contactForm .inputbox span
{
    position: absolute;
    left: 0;
    padding: 5px 0;
    font-size: 16px;
    margin: -50px 0px;
    pointer-events: none;
    transition: 0.5s;
    color: #666;
}
.contactForm .inputbox input:focus ~ span,
.contactForm .inputbox input:valid ~ span
{
    color: #e91e63;
    font-size: 12px;
    transform: translateY(-20px);
}
.contactForm .inputbox input[type="submit"]
{
    width: 100px;
    background: #00bcd4;
    color: #fff;
    border: none;
    cursor: pointer;
    padding: 10px;
    font-size: 18px;
}
/* Contact Form Ends */
/* Feedback Starts */
.feedback_container{
    width: 300px;
    margin-top: 10%;
    margin-left: 40%;
    border-radius: 25px;
    background-color: rgba(0, 0, 0, 0.1);
    box-shadow: 0 0 15px #333;
}
.feedback{
    width: 100%;
    padding: 12px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
    resize: none;
}
.feedback_submit{
    background-color: #04AA6D;
    color: white;
    padding-top: 0%;
    margin-left: 30%;
    width: 30%;
    height: 3vw;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    }
input[type="submit"]:hover{
    background-color: #45a049;
}
/* Feedback Ends */
/* Payment Starts */
.row {
    display: flex;
    flex-wrap: wrap;
    margin: 0 -16px;
  }
  .col-50 {
     flex: 75%;
  }
  .col-75 {
      flex: 75%;
  }
  .col-25,
  .col-50,
  .col-75 {
    padding:0 26px;
  }
  .col-25{
    width: 250px;
  }
  form select{
    width:100%;
    margin-bottom: 20px;
    padding: 12px;
    border: 1px solid #ccc;
    border-radius: 3px;
  }
  .payment_container {
    background-color: #f2f2f2;
    padding: 5px 20px 15px 20px;
    border: 1px solid lightgrey;
    border-radius: 3px;
  }
  input[type=text] {
    width: 100%;
    margin-bottom: 20px;
    padding: 12px;
    border: 1px solid #ccc;
    border-radius: 3px;
  }
  label {
    margin-bottom:10px;
    display: block;
  }
  .icon-container {
    margin-bottom: 20px;
    padding: 7px 0;
    font-size: 34px;
  }
  .btn {
    background-color: #04AA6D;
    color: white;
    padding: 12px;
    margin: 10px 0;
    border: none;
    width: 100%;
    border-radius: 3px;
    cursor: pointer;
    font-size: 17px;
  }
  .btn:hover {
    background-color: #45a049;
  }
  a {
    color: #2196F3;
  }
  hr {
    border: 1px solid lightgrey;
  }
  span.price {
    float: right;
    color: grey;
  }
/* Payment Ends */

/* About Page Starts */

  .about_container
  {
    display: grid;
    justify-content: center;
  }
  .card
  {
    background: linear-gradient(45deg, #1a2f3f, #7094ce);
    width: 90vw;
    margin: 5vh;
    border-radius: 1.5vh;
    flex-wrap: wrap;
  }
  .card-image
  {
    height: 20vh;
    margin-bottom: 5vh;
    background-size: cover;
    border-radius: 1.5vh 1.5vh 0 0;
  }
  .card-1
  {
    background-image: url('/Sunrise/sunrise.jpg');
  }
  .card-2
  {
    background-image: url('/Sunrise/sunrise.jpg');
  }
  .card-3
  {
    background-image: url('/Sunrise/sunrise.jpg');
  }
  .card-4
  {
    background-image: url('/Sunrise/sunrise.jpg');
  }
  .card h2
  {
    padding: 10px;
    color: white;
  }
  .card p
  {
    padding: 10px;
    color: white;
  }
  .card a
  {
    background-color: rgb(240, 116, 45);
    color: black;
    display: block;
    padding: 15px 20px;
    text-align: center;
    margin: 20px 50px;
    text-decoration: none;

  }
  .card:hover
  {
    cursor: pointer;
    box-shadow: 0 4rem 8rem rgba(0, 0, 0, 0.5);
    transform: scale(1.03);
  }

/* About Page Ends */

/* Banquet halls, Decoration, Lights & Sounds,Caterring Start */
.banquet
{
    display: grid;
    justify-content: center;
}
.card-details
{
    background: linear-gradient(45deg, #1a2f3f, #7094ce);
    width: 95vw;
    height: 80vh;
    margin: 5vh;
    border-radius: 1.5vh;
    flex-wrap: wrap;
    display: inline-table;
}
.card-image
{
    height: 30vh;
    margin-bottom: 5vh;
    background-size: cover;
    border-radius: 1.5vh 1.5vh 0 0;
}

.header
{
    text-align: center;
    padding: 10px;
    color: white;
}
.text
{
    line-height: 3vh;
    text-align: center;
    padding: 10px;
    color: white;
    font-size: 18px;
}
/* Banquet halls, Decoration, Lights & Sounds,Caterring End */

@media (max-width: 900px){
  /* Landing */
    .container{
      flex-wrap: wrap;
  }
  .content{
      width: 100%;
  }
  .previous, .nex{
      top: 40%;
  }
  .nex{
      right: 4%;
  }
  /* Landing Ends */
  /* Home Starts */
  .flex-item2{
    font-size: 3.1vw;
}
.slideshow-container img{
  height: 30vh;
}
.prev,.next{
  top: 20%;
}
.footer{
    height: 20vw;
}
.social-links a{
    height: 20px;
    width: 20px;
    line-height: 20px;
    font-size: 12px;
}    
/* Home Ends */
/* About Us Stars */
.column
    {
        width: 80%;
        height: 60vh;
    }
    .column img{
        height: 24vh;
    }
    /* About Us Ends */
/* Booking Form Starts */
.booking_container{
    max-width: 100%;
}
form .user-details .input-box{
    width:100%;
   margin-bottom:25px;
}
.sel-opt select{
height: 45px;
width:100%;
} 
/* Booking form Ends */
/* Contact Form Starts */
.contact
    {
        padding: 50px;
    }
    .contact_container
    {
        flex-direction: column;
    }
    .contact_container .contactinfo
    {
        margin-bottom: 40px;
    }
    .contact_container .contactinfo,
    .contactForm
    {
        width: 100%;
    }
/* Contact Form Ends */
/* Payment Starts */
body{
    width:100%;
    overflow-x: hidden;
    
  }
  .row {
    flex-direction: column-reverse;
  }
  .col-25 {
    margin-bottom: 20px;
      width:100%;
  }
  /* Payment Ends */
  
}